.items{
    width: 15rem;
    height: 18rem;
    border: 2px solid black;
    margin: 4rem 1rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 8px 8px rgba(1,1,1,0.4);

    >.img{
        width: 100%;
        height: 60%;

        >img{
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        }
    }
    >.info{
    >.buttons{
        display: flex;
        justify-content: space-around;

        >a,button{
            padding: 0.4rem;
            color: white;
            background-color: rgb(144, 38, 38);
            border: 1px solid red;
            border-radius: 0.5rem;
            text-decoration: none;
            cursor: pointer;
            transition: 0.5s all;

            &:hover{
                transform: scale(1.1);
                background-color: rgb(108, 29, 29);
            }
        }
    }
}
}